* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: rgba(0, 0, 0, 0.259);
  --main-color: #458ff6;
  --title-color: #000000;
  --text-color: #7d7987;
  --alt-text-color: #ffffff;
  --h1-size: 48px;
  --h2-size: 36px;
  --h3-size: 24px;
  --h4-size: 20px;
  --text-size: 18px;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooths;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--black);
}
header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--alt-text-color);
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
header .container .logo .t {
  background-color: var(--main-color);
  color: var(--alt-text-color);
  margin-right: 5px;
  padding: 7px 10px;
  border-radius: 50%;
}
header .container .logo a {
  color: rgb(21, 42, 81);
  letter-spacing: 1px;
  font-weight: bold;
}
header nav ul li a:hover {
  color: var(--title-color);
}
header .container nav ul .home-page {
  color: var(--title-color);
}
header nav img {
  cursor: pointer;
}
header nav input {
  appearance: none;
}
@media (max-width: 991px) {
  header nav input:checked + ul {
    display: block;
  }
  header nav ul {
    position: fixed;
    display: none;
    top: 60px;
    right: 0;
    border: 1px solid rgba(6, 6, 6, 0.811);
    background-color: rgba(128, 128, 128, 0.812);
    text-align: center;
  }
  header nav ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.811);
    padding: 15px;
  }
}
@media (min-width: 992px) {
  header nav input,
  header nav label {
    display: none;
  }
  header ul {
    display: flex;
    gap: 30px;
  }
}
.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
}
.hero .container .info h1 {
  font-size: var(--h1-size);
  margin-bottom: 20px;
}
.title-descrption {
  color: var(--text-color);
  margin-bottom: 30px;
}
.hero .container .info .btn-section {
  background-color: var(--main-color);
  color: var(--alt-text-color);
  border-radius: 20px;
  padding: 10px;
}
.hero .container .col img {
  width: 100%;
}
@media (min-width: 992px) {
  .info,
  .col {
    width: 45%;
  }
}
.section-title {
  position: relative;
  padding: 30px 0;
  font-size: var(--h2-size);
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 1px;
  background-color: var(--black);
}
.services {
  background-image: url(../images/blob-1.webp);
  background-repeat: no-repeat;
}
.services .section-title::after {
  left: calc(50% - 25px);
}
.services .section-title {
  text-align: center;
}
.services .title-descrption {
  text-align: center;
  padding-top: 30px;
}
.list-cards {
  margin-top: 40px;
  gap: 30px;
} 
.d-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.list-cards .card {
  width: 270px;
  height: 300px;
  background-color: var(--white);
  box-shadow: 2px 2px 20px rgb(0 0 0 / 0.1);
  border-radius: 20px;
  padding: 20px;
}
.list-cards .card img{
  padding: 20px 0;
}
.list-cards .card .title-descrption{
  text-align: start;
}